{namespace sv.lSberVmeste.bPhoneNumberPage.Template}

/**
 * @constructor
 * @extends cl.iControl.Template
 */
{template .page}
    {call .init data="all"/}
{/template}

/**
 * @override
 */
{template .body}
    <div class="{call .rootClass/}__wrapper">
    Введите Ваш номер телефона:
    </div>
{/template}

/**
 * @override
 */
{template .rootClass}
    b-page-phone-number
{/template}
