@import '../../i-media/i-media';

.b-donation-fixed-block__inner-wrap {
}

.b-donation-fixed-block__sum-choice {
    margin-top: 43px;
}

.b-donation-fixed-block__input-tip {
    text-align: center;
    color: #FFFFFF;
    font-family: SFUIDisplay;
    font-size: 14px;
}

.b-donation-fixed-block__button-wrapper {
    margin-top: 43px;
    text-align: center;
}

@include media-m {
   .b-donation-fixed-block__sum-choice {
    margin-top: 71px;
    }
    .b-donation-fixed-block__button-wrapper {
    margin-top: 71px;
    }
}

@include media-l {
    .b-donation-fixed-block__sum-choice {
    margin-top: 96px;
    }
    .b-donation-fixed-block__button-wrapper {
    margin-top: 96px;
    }
}

@include media-xl {
        .b-donation-fixed-block__sum-choice {
    margin-top: 96px;
    }
    .b-donation-fixed-block__button-wrapper {
    margin-top: 96px;
    }
}