{namespace sv.gIcon.Template}

/**
 * The icon template
 * @extends cl.gIcon.Template
 * @constructor
 */
{template .icon}
    {call .init data="all" /}
{/template}

/**
 * icon type template
 * @param params {
 *     data: {
 *         type: ?string
 *     },
 * }
 */
{template .additionalClasses}
    {if $params?.data?.type}
        g-icon_img_{$params.data.type}
    {/if}
{/template}