@import "../../l-sber-vmeste/i-media/i-media";

.g-icon_sber {
    display: block;
    width: 30px;
    height: 30px;
}

.g-icon_arrow-back_white {
    background-image: url(images/n-clobl/g-icon/g-icon_img/g-icon_img_arrow-back_white.png);
    background-size: contain;
    &:hover {
        cursor: pointer;
    }
}

.g-icon_arrow-back_grey {
    background-image: url(images/n-clobl/g-icon/g-icon_img/g-icon_img_arrow-back_grey.png);
    background-size: contain;
    &:hover {
        cursor: pointer;
    }
}

.g-icon_logo-sber {
    width: 46px;
    height: 45px;
    background-image: url(images/n-clobl/g-icon/g-icon_img/g-icon_img_logo-sber_small.png);
    background-size: contain;

    @include retina {
      background-image: url(images/n-clobl/g-icon/g-icon_img/g-icon_img_logo-sber_small@2x.png);
      background-size: contain;
    }
}

.g-icon_user-avatar {
    width: 60px;
    height: 60px;
    background-image: url(images/n-clobl/g-icon/g-icon_img/g-icon_img_user-avatar.png);
    background-size: contain;

    @include retina {
      background-image: url(images/n-clobl/g-icon/g-icon_img/g-icon_img_user-avatar@2x.png);
      background-size: contain;
    }
}

.g-icon_logo-userfund {
    display: block;
    width: 60px;
    height: 80px;
    background-image: url(images/n-clobl/g-icon/g-icon_img/g-icon_img_logo-userfund.png);

    @include retina {
        background-image: url(images/n-clobl/g-icon/g-icon_img/g-icon_img_logo-userfund@2x.png);
        background-size: contain;
    }
}

.g-icon_logo-userfund_authorized {
    display: block;
    width: 180px;
    height: 154px;
    background-image: url(images/n-clobl/g-icon/g-icon_img/g-icon_img_logo-userfund_authorized.png);

    @include retina {
        background-image: url(images/n-clobl/g-icon/g-icon_img/g-icon_img_logo-userfund_authorized@2x.png);
        background-size: contain;
    }
}

.g-icon_share {
    width: 32px;
    height: 36px;
    background-image: url(images/n-clobl/g-icon/g-icon_img/g-icon_img_share.png);
}

.g-icon_arrow-right {
    width: 8px;
    height: 12px;
    background-image: url(images/n-clobl/g-icon/g-icon_img/g-icon_img_arrow-right.png);
}

.g-icon_checked {
    width: 22px;
    height: 22px;
    background-image: url(images/n-clobl/g-icon/g-icon_img/g-icon_img_checked.png);
}

@include media-m {
    .g-icon_logo-sber {
        width: 205px;
        height: 52px;
        background-image: url(images/n-clobl/g-icon/g-icon_img/g-icon_img_logo-sber_large.png);
        
        @include retina {
            background-image: url(images/n-clobl/g-icon/g-icon_img/g-icon_img_logo-sber_large@2x.png);
            background-size: contain;
        }
    }
}

@include media-l {
    .g-icon_logo-sber {
        width: 205px;
        height: 52px;
        background-image: url(images/n-clobl/g-icon/g-icon_img/g-icon_img_logo-sber_large.png);
        
        @include retina {
            background-image: url(images/n-clobl/g-icon/g-icon_img/g-icon_img_logo-sber_large@2x.png);
            background-size: contain;
        }
    }
}

@include media-xl {
    .g-icon_logo-sber {
        width: 205px;
        height: 52px;
        background-image: url(images/n-clobl/g-icon/g-icon_img/g-icon_img_logo-sber_large.png);
        
        @include retina {
            background-image: url(images/n-clobl/g-icon/g-icon_img/g-icon_img_logo-sber_large@2x.png);
            background-size: contain;
        }
    }
}