{namespace sv.lSberVmeste.bListPage.bUserBlock.Template}


/**
 * @constructor
 * @extends cl.iControl.Template
 */
{template .userBlock}
    {call .init data="all"/}
{/template}

/**
 * @override
 */
{template .body autoescape="strict" kind="html"}
    <div class="{call .rootClass /}__chosen-categories">3&nbsp;темы, 12&nbsp;направлений, 32&nbsp;фонда</div>
    <div class="{call .rootClass /}__button"></div>
{/template}

/**
 * @override
 */
{template .rootClass}
    b-user-block
{/template}