@import '../../l-sber-vmeste/i-media/i-media.scss';

@font-face {
    font-family: SFUIDisplay;

    src: url(fonts/SFUIDisplay-Medium.otf);
}

.g-list__item {
    user-select: none;
    display: inline-block;
    padding: 0;
    box-sizing: border-box;
    font-family: SFUIDisplay;
    font-size: 13px;

    width: 152px;
    height: 32px;

    letter-spacing: 1.1px;

    color: #fff;
    border: solid 1px #fff;
    border-right: 0;
    &:after {
        display: inline-block;

        height: 110%;

        content: '';
        vertical-align: middle;
    }
    &:first-child {
        border-radius: 19px 0 0 19px;
    }
    &:last-child {
        border: solid 1px #fff;
        border-radius: 0 19px 19px 0;
    }
}

.g-list__item_selected {
    color: #000;
    background-color: #fff;
}