@import '../../i-media/i-media';

.b-page-start__wrapper {
    height: 100%;
}

.b-page-start__path_vertical {
    display: block;
    width: 1px;
    height: 30px;
    margin: 0 auto 10px;
    opacity: 0.4;
    border: 1px solid #FFFFFF;
    border-radius: 1px;
    background: #ccc;
}

.b-page-start__content {
    width: 260px;
    height: 370px;
    margin: 0 auto;
    margin-top: 9.9px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
}

.b-page-start__userfunds-info-phrase {
    margin: 17px auto 0;
    opacity: 0.55;
    font-size: 13px;
    text-align: center;
    color: #FFFFFF;
}

.b-page-start__userfunds-info-count {
    display: block;
    width: 181px;
    margin: 8px auto 10px;
    text-align: center;
}

@include media-m {
    .b-page-start__content {
        width: 335px;
        height: 500px;
        border-radius: 8px;
        border: solid 1px #ffffff;
    }
    .b-page-start__path_vertical {
        height: 87px;
        margin: -5px auto 15px;
    }
    .b-page-start__userfunds-info {
        margin: 39px auto 0;
    }
    .b-page-start__userfunds-info-count {
        margin: 14px auto 10px;
    }
}

@include media-xl {
    .b-page-start__content {
        width: 480px;
        height: 433px;
        border-radius: 8px;
        border: solid 1px #ffffff;
    }
    .b-page-start__path_vertical {
        height: 57px;
    }
    .b-page-start__userfunds-info {
        margin: 45px auto 0;
    }
}