@import "../i-media/i-media";

.b-start-block__icon_logo-userfund-wrapper {
    display: block;
    width: 60px;
    margin: 87px auto 0;
}

.b-start-block__userfund-name {
    margin: 50px auto 0;
    font-size: 25px;
    text-align: center;
    color: #FFFFFF;
}

.b-start-block__slogan {
    margin: 17px auto 0;
    opacity: 0.55;
    font-size: 13px;
    text-align: center;
    color: #FFFFFF;
}

.b-start-block__button_start {
    display: block;
    margin: 29px auto 5px;
}

.b-start-block__userfund-name {
    text-transform: uppercase;
}

@include media-m {
    .b-start-block__icon_logo-userfund-wrapper {
        margin: 128px auto 0;
    }
    .b-start-block__userfund-name {
        margin: 26px auto 0;
    }
    .b-start-block__slogan {
        margin: 26px auto 0;
    }
    .b-start-block__button_start {
        margin: 48px auto 0;
    }
}

@include media-xl {
    .b-start-block__icon_logo-userfund-wrapper {
        margin: 86px auto 0;
    }
    .b-start-block__userfund-name {
        margin: 33px auto 0;
    }
    .b-start-block__slogan {
        margin: 15px auto 0;
    }
    .b-start-block__button_start {
        margin: 41px auto 0;
    }
}