@import "../i-media/i-media";

.b-start-block__icon-start-wrap {
    
}
.b-start-block__icon-start {
    display: block;
    margin: 20.0923378% auto;
}

.b-start-block__userfund-name {
    margin: 49.5px auto 0;
    font-family: AndaleMono;
    font-size: 25px;
    font-weight: normal;
    text-align: center;
    color: #FFFFFF;
}

.b-start-block__slogan {
    margin: 17px auto 0;
    opacity: 0.55;
    font-family: AndaleMono;
    font-size: 13px;
    font-weight: normal;
    text-align: center;
    color: #FFFFFF;
}

.b-start-block__button_start {
    display: block;
    margin: 29px auto 0;
}

@include media-m {
    .b-start-block__icon-start {
        margin: 25.6% auto;
        }
        .b-start-block__userfund-name {
        margin: 26px auto;
        }
        .b-start-block__slogan {
        margin: 26px auto;
        }
        .b-start-block__button_start {
        margin: 48px auto;
    }
}

@include media-xl {
    .b-start-block__icon-start {
        margin: 19.8614318% auto;
    }
    .b-start-block__userfund-name {
        margin: 33px auto 0;
    }
    .b-start-block__slogan {
        margin: 15px auto 0;
    }
    .b-start-block__button_start {
        margin: 41px auto 0;
    }
}