.g-slider_sber {
    position: relative;
    display: block;
    width: 290px;
}

.g-slider__slider {
    position: absolute;
    top: -50px;
    width: 80px;
    height: 90px;
}

.g-slider__label {
    position: absolute;
    top: -10px;
    left: -17px;
    width: 50px;
    height: 50px;
    padding: 3px;
    color: #ffffff;
    font-family: AndaleMono;
    font-size: 62px;
    font-weight: normal;
    line-height: 0.6em;
}

.g-slider__label_small {
    position: absolute;
    top: -10px;
    left: 28px;
    color: #ffffff;
    font-family: SFUIDisplay;
    font-size: 21px;
}

.g-slider__track {
    position: relative;
    width: 290px;
    height: 2px;
    border-bottom: 2px solid #ffffff;
    border-radius: 1px;
    box-sizing: border-box;
}

.g-slider__thumb {
    display: block;
    background-color: #ffffff;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    margin-top: 40px;
    border-radius: 10px;
    z-index: 2;

}