{namespace sv.lSberVmeste.bPageManager.Template}

/**
 * @constructor
 * @extends cl.iContentManager.Template
 */
{template .pageManager}
    {call .init data="all"/}
{/template}

/**
 * @override
 */
{template .rootClass}
    b-page-manager
{/template}
