@import "../../i-media/i-media";

.b-list-page {
    font-family: AndaleMono;
}

.b-list-page__wrapper {
    height: 100%;
}

.b-list-page__path_vertical {
    width: 1px;
    height: 30px;
    margin: 10px auto;
    border: 1px solid #FFFFFF;
    border-radius: 1px;
    background: #ccc;
    display: none;
}

.b-list-page__content {
    text-align: center;
    margin: 0 auto;
}

.b-list-page__page-title {
    margin-bottom: 40px;
    display: inline-block;
    width: 300px;
    color: #fff;
    font-size: 17px;
    line-height: 1.29;
}

.b-list-page__tab {
    margin: 0 auto;
}

@include media-s {
    .b-list-page__tab {
        width: 375px;
    }
}

@include media-m {
    .b-list-page__path_vertical {
        opacity: 0.4;
        display: block;
        height: 87px;
    }

    .b-list-page__page-title {
        margin-top: 20px;
        margin-bottom: 30px;
        font-size: 15px;
        font-weight: normal;
        line-height: 1.47;
    }

    .b-list-page__tab {
        width: 750px;
    }
}

@include media-l {
    .b-list-page__path_vertical {
        height: 57px;
        margin: 10px auto 15px;
    }

    .b-list-page__page-title {
        margin-bottom: 40px;
    }
}