@import '../../l-sber-vmeste/i-media/i-media.scss';


.b-card-list {
}

.b-card-list__cards {
    text-align: left;
}


@include media-s {
    // if one card located on one string we hide border at the latest card
    .b-card:last-child {
        border-bottom: 0 !important;
    }
}

@include media-m {
    // if 2 cards located on one string and

    // an odd number of cards then we hide border at the latest card
    .b-card-list__cards .b-card:nth-last-child(1):nth-child(odd),

    // else hide border at the two latest cards
    .b-card-list__cards_even .b-card:last-child,
    .b-card-list__cards_even .b-card:nth-last-child(2) {
        border-bottom: 0 !important;
    }
}
