@import '../../l-sber-vmeste/i-media/i-media.scss';

.b-card-list {}

.b-card-list__cards {
    text-align: left;
}

.b-card:last-child {
    border-bottom: none;
}

@include media-m {
    .b-card:nth-child(odd):nth-last-child(2) {
      border-bottom: none;
    }
}
