@import '../../l-sber-vmeste/i-media/i-media.scss';

.b-card-list {}

.b-card-list__cards {
    text-align: left;
    width: 620px;
    display: inline-block;
}

@media screen and (max-width: $breakpointM) {
    .b-card-list__cards {
        width: 90%;
    }
}
