{namespace sv.gButtonsTest.Template}

/**
 * @constructor
 * @extends cl.iControl.Template
 */
{template .page}
    {call .init data="all"/}
{/template}

/**
 * @override
 */
{template .body}
    <div class="{call .rootClass /}__button">
        {call .renderChild}
            {param params: [
                'type': 'button',
                'renderParams': [
                    'data': [
                        'content': 'Помогать',
                    ],
                    'config': [
                        'theme': 'start-helping'
                    ]
                ]
            ]/}
        {/call}
    </div>
    <div class="{call .rootClass /}__button">
        {call .renderChild}
          {param params: [
                'type': 'button',
                'renderParams': [
                    'data': [
                        'content': 'Готово',
                    ],
                    'config': [
                        'theme': 'confirm'
                    ]
                ]
            ]/}
        {/call}
    </div>
    <div class="{call .rootClass /}__button">
        {call .renderChild}
          {param params: [
                'type': 'button',
                'renderParams': [
                    'data': [
                        'content': 'Основать фонд',
                    ],
                    'config': [
                        'theme': 'create-fund'
                    ]
                ]
            ]/}
        {/call}
    </div>
    <div class="{call .rootClass /}__button">
        {call .renderChild}
          {param params: [
                'type': 'button',
                'renderParams': [
                    'data': [
                        'content': 'Я',
                    ],
                    'config': [
                        'theme': 'profile'
                    ]
                ]
            ]/}
        {/call}
    </div>
    <div class="{call .rootClass /}__button">
        {call .renderChild}
          {param params: [
                'type': 'button',
                'renderParams': [
                    'data': [
                        'content': 'Начать',
                    ],
                    'config': [
                        'theme': 'start'
                    ]
                ]
            ]/}
        {/call}
    </div>
    <div class="{call .rootClass /}__button">
        {call .renderChild}
          {param params: [
                'type': 'button',
                'renderParams': [
                    'data': [
                        'content': '202 фонда',
                    ],
                    'config': [
                        'theme': 'new-funds'
                    ]
                ]
            ]/}
        {/call}
    </div>
    <div class="{call .rootClass /}__button">
        {call .renderChild}
          {param params: [
                'type': 'button',
                'renderParams': [
                    'data': [
                        'content': '+',
                    ],
                    'config': [
                        'theme': 'add'
                    ]
                ]
            ]/}
        {/call}
    </div>
{/template}

/**
 * @override
 */
{template .rootClass}
    b-buttons-test
{/template}