@import '../../i-media/i-media.scss';

.b-card-page {
    margin: 0 auto;

    text-align: center;

    background: #fff;
    position: relative;

    font-family: AndaleMono;
    font-size: 15px;
}

.b-card-page__top-wrapper,
.b-card-page__description-wrapper {
    padding: 30px 8% 30px 8%;
}

.b-card-page__bottom-wrapper {
    text-align: center;
}

.b-card-page__top {
    box-shadow: 0 2px 2px -1px gray;
}

.b-card-page__icon {
    display: inline-block;

    width: 180px;
    margin-bottom: 30px;

    vertical-align: bottom;
}

.b-card-page__icon-image-wrapper {
    display: inline-block;
}

.b-card-page__icon-image {
    display: block;
    max-width: 110px;
    max-height: 110px;
}

.b-card-page__icon-text {
    margin-top: 17px;

    font-size: 25px;
    line-height: 25px;
}

.b-card-page__donations {
    color: #585858;

    line-height: 1.47;
}

.b-card-page__amount {
    margin-top: 5px;
    margin-bottom: 30px;

    font-size: 25px;
}

.b-card-page__card-button {
    text-align: center;
}

.b-card-page__stop-helping {
    margin-top: 12px;

    cursor: pointer;
    text-align: center;

    color: #ff6666;
}

.b-card-page__description {
    border-bottom: 2px solid #EBEBEB;
}

.b-card-page__text-title {
    color: #565656;

    font-family: AffectBold;
}

.b-card-page__text {
    margin-top: 17px;

    text-align: left;
}

.b-card-page__card-info {
    height: 173px;
}

.b-card-page__directions-count {
    color: #565656;

    font-family: AffectBold;
    display: inline-block;
    width: 490px;
    text-align: left;
    margin-top: 30px;
}

.b-card-page__directions {
    margin-top: 17px;
}

@include media-m {
    .b-card-page {
        width: 768px;

        text-align: left;
    }

    .b-card-page__top-wrapper,
    .b-card-page__description-wrapper {
        padding: 50px 130px 30px 130px;
    }

    .b-card-page__top-wrapper {
        &:after {
            display: inline-block;

            width: 100%;

            content: '';
        }
    }

    .b-card-page__top {
        text-align: justify;

        box-shadow: 0 3px 2px -2px gray;
    }

    .b-card-page__card-info {
        display: inline-block;

        width: 250px;

        text-align: center;
    }

    .b-card-page__icon {
        display: inline-block;

        margin: 0;

        text-align: center;
    }

    .b-card-page__donations {
        display: inline-block;

        width: 200px;

        text-align: left;
    }

    .b-card-page__amount {
        display: inline-block;

        width: 200px;
        margin-top: 12px;
    }

    .b-card-page__text-title {
        margin-left: 10px;
    }

    .b-card-page__card-info {
        margin-left: 30px;
    }
}


@media screen and (max-width: $breakpointM) {

    .b-card-page__directions-count {
        text-align: center;
        width: 310px;
    }

}
