.g-button_sber {
    font-family: AndaleMono;
    font-size: 18px;
    font-weight: normal;
    
    width: 180px;
    height: 43px;
    padding: 3px 0 0 0;

    vertical-align: middle;

    color: #03371a;
    border: 0;
    border-radius: 30px;
    background-color: #e7f038;
    &:after {
        display: inline-block;

        height: 100%;

        content: '';
        vertical-align: middle;
    }
}

.g-button_transparent {
    background: none;
    color: #fff;
}

.g-button_green-border {
    border: solid 1px #1eeb78;
}

.g-button_white-border {
    border: solid 1px #fff;
}

.g-button_thick-border {
    border-width: 2px;
}

.g-button_opaque {
    opacity: .31;
}

.g-button_fontSFUI {
    font-family: SFUIDisplay;
}

.g-button_small-height {
    height: 33px;
}

.g-button_big-height {
    height: 56px;
}

.g-button_width-m {
    width: 56px;
}

.g-button_width-s {
    width: 33px;
}

.g-button_no-padding {
    padding: 0;
}

.g-button_big-font {
    font-size: 20px;
}