@import "../../i-media/i-media";

.b-profile-edit {
    width: 280px;
    height: 434px;
    font-size: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    position: relative;
    box-sizing: border-box;
    border: 1px solid transparent;
}

.b-profile-edit__first-name-input,
.b-profile-edit__last-name-input,
.b-profile-edit__phone-number-input {
    width: 237px;
    height: 54px;
    margin-top: 30px;
}

.b-profile-edit__confirm-button {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 56px;
}

@include media-m {
    .b-profile-edit {
        width: 480px;
    }

    .b-profile-edit__first-name-input,
    .b-profile-edit__last-name-input,
    .b-profile-edit__phone-number-input {
        margin-left: auto;
        margin-right: auto;
    }

    .b-profile-edit__confirm-button {
        bottom: 37px;
    }
}