{namespace sv.lSberVmeste.bProfileEdit.Template}


/**
 * @constructor
 * @extends cl.iControl.Template
 */
{template .profileEdit}
    {call .init data="all"/}
{/template}

/**
 * @override
 */
{template .body autoescape="strict" kind="html"}
{/template}

/**
 * @override
 */
{template .rootClass}
    b-profile-edit
{/template}