.b-test-page {
    margin-top: 20px;
    background-color: #353535;
    padding: 10px 0;
    text-align: center;
}

.b-test-page__title {
    margin: 10px 0;
    font-size: 30px;
    color: #fff;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.b-test-page__element {
    margin: 10px 0;
}

.g-icon_logo-userfund_authorized {
    margin: 40px auto 20px;
}

.g-slider_sber {
    margin: 70px auto;
}