{namespace sv.gTestPage.Template}

/**
 * @constructor
 * @extends cl.iControl.Template
 */
{template .page}
    {call .init data="all"/}
{/template}

/**
 * @override
 */
{template .body}
    <div class="{call .rootClass /}__title">Кнопки</div>
    {call .buttons_ /}
    {call .icons_ /}
{/template}

/**
 * @override
 */
{template .rootClass}
    b-test-page
{/template}

/**
* Buttons template
*/
{template .buttons_ autoescape="strict" kind="html"}
    {let $buttonTypes: [
            ['Помогать', [
                'background_transparent',
                'border_green',
                'border_thick'
                ]
            ],
            ['Готово', []
            ],
            ['Основать фонд', []
            ],
            ['Я', [
                'width_m',
                'height_big',
                'font_SFUI'
                ]
            ],
            ['Начать', []
            ],
            ['202 фонда', [
                'text-color_white',
                'font_big',
                'height_small',
                'background_transparent',
                'border_green'
                ]
            ],
            ['+', [
                'text-color_white',
                'width_s',
                'height_small',
                'font_SFUI',
                'background_transparent',
                'border_white',
                'opacity_one-third',
                'padding_none'
                ]
            ]
        ] /}

    {foreach $item in $buttonTypes}
        <div class="{call .rootClass /}__element">
            {call .renderChild}
              {param params: [
                    'type': 'ButtonSber',
                    'renderParams': [
                        'data': [
                            'content': $item[0],
                        ],
                        'config': [
                            'buttonStyles': $item[1]
                        ]
                    ]
                ]/}
            {/call}
        </div>
    {/foreach}
{/template}

/**
* Icons template
*/
{template .icons_ autoescape="strict" kind="html"}
    {let $iconTypes: ['arrow-back_white', 'arrow-back_grey',
                      'arrow-right', 'share', 'logo-userfund', 'logo-sber'
                     ]/}
    {foreach $item in $iconTypes}
        <div class="{call .rootClass /}__element">
            {call .renderChild}
              {param params: [
                    'type': 'IconSber',
                    'renderParams': [
                        'data': [],
                        'config': [
                            'iconStyles': [$item]
                        ]
                    ]
                ]/}
            {/call}
        </div>
    {/foreach}
{/template}