.b-test-page {
    margin-top: 20px;
     padding: 10px 0;
    text-align: center;

    background-color: #353535;
}

.b-test-page__title {
    margin: 10px 0;

    color: #fff;
    border-top: 2px solid white;
    border-bottom: 2px solid white;

    font-size: 30px;
}

.b-test-page__element {
    margin: 10px 0;
}

.g-icon_logo-userfund_authorized {
    margin: 40px auto 20px;
}

.b-test-page__input-block {
    display: inline-block;

    width: 45%;

    vertical-align: top;
}
.b-test-page__input-title {
    vertical-align: top;
}

.g-slider_sber {
    margin: 70px auto;
}