@import '../i-media/i-media';

.b-donation-percent-block__choice__income-percent {
    display: block;
    margin: 43px auto 0;
    border: 1px solid green;
}

.b-donation-percent-block__input {
    display: inline-block;
    //margin: 0 auto;
}

.b-donation-percent-block__donation-percent {
    display: block;
    margin-top: 43px;
    text-align: center;
}

.b-donation-percent-block__slider-tip {
    display: none;
    color: #FFFFFF;
    font-family: SFUIDisplay;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    line-height: 1em;
}

.b-donation-percent-block__slider {
    display: block;
    width: 290px;
    margin: 0 auto;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    font-family: AndaleMono;
    font-size: 62px;
    font-weight: normal;
     line-height: 1em;
}

.b-donation-percent-block__result {
    margin-top: 71px;
}

.b-donation-percent-block__result-phrase {
    text-align: center;
    color: #e7f038;
    font-family: SFUIDisplay;
    font-size: 14px;
    font-weight: normal;
}

.b-donation-percent-block__result-sum {
    text-align: center;
    color: #e7f038;
    font-family: AndaleMono;
    font-size: 62px;
    font-weight: normal;
    text-align: center;
    line-height: 1em;
}

.b-donation-percent-block__button-wrapper {
    margin-top: 43px;
    text-align: center;
}

@include media-m {
    .b-donation-percent-block__choice__income-percent {
        display: block;
        margin: 0 auto;
    }
    .b-donation-percent-block__user-income {
        display: inline-block;
        margin: 96px 59px 0 58px;
        text-align: center;
    }
    .b-donation-percent-block__donation-percent {
        display: inline-block;
        margin-top: 96px;
        text-align: center;
    }
    .b-donation-percent-block__slider-tip {
        display: block;
    //margin-top: 96px;
    }
    .b-donation-percent-block__slider {
        display: block;
        
    }
    .b-donation-percent-block__result {
        margin-top: 119px;
    }
}

@include media-l {
    .b-donation-percent-block__choice__income-percent {
        display: block;
        margin: 0 auto;
    }
    .b-donation-percent-block__user-income {
        display: inline-block;
        margin: 96px 59px 0 58px;
        text-align: center;
    }
    .b-donation-percent-block__donation-percent {
        display: inline-block;
        margin-top: 96px;
        text-align: center;
    }
    .b-donation-percent-block__slider-tip {
        display: block;
    //margin-top: 96px;
    }
}

    @include media-xl {
        .b-donation-percent-block__choice__income-percent {
        display: block;
        margin: 0 auto;
        }
        .b-donation-percent-block__user-income {
            display: inline-block;
            margin: 96px 59px 0 194px;
            text-align: center;
        }
        .b-donation-percent-block__donation-percent {
            display: inline-block;
            margin-top: 96px;
            text-align: center;
        }
        .b-donation-percent-block__slider-tip {
            display: block;
        //margin-top: 96px;
        }
        .b-donation-percent-block__slider {
            display: block;
            //margin: 50px auto 0;
        }
}