{namespace sv.lSberVmeste.bProfile.Template}


/**
 * @constructor
 * @extends cl.iControl.Template
 */
{template .profile}
    {call .init data="all"/}
{/template}

/**
 * @override
 */
{template .body autoescape="strict" kind="html"}
{/template}

/**
 * @override
 */
{template .rootClass}
    b-profile
{/template}