@import '../../l-sber-vmeste/i-media/i-media.scss';

.b-card {
    position: relative;

    min-width: 270px;
    height: 90px;
    margin: 0 auto;
    padding: 10px 0;

    cursor: pointer;
    text-align: left;
    vertical-align: top;

    border-bottom: solid 1px #979797;
    background: #fff;

    font-size: 15px;

    display: inline-block;
    width: 50%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


.b-card:last-child {
    border-bottom: none;
}
​
// @include media-m {
    // .b-card:nth-child(odd):nth-last-child(2) {
    //     border-bottom: none;
    // }
// }







.b-card_half-line {
    display: inline-block;

    width: 50%;
}

.b-card_last {
    border-bottom: none;
}

.b-card__logo {
    position: relative;

    display: inline-block;

    width: 50px;
    height: 100%;
}

.b-card__logo-url {
    position: absolute;
    top: 50%;

    display: inline-block;

    width: 100%;
    margin: auto 0;

    transform: translateY(-50%);
    vertical-align: initial;
}

.b-card__info {
    position: absolute;
    top: 50%;

    display: inline-block;

    max-width: 193px;
    margin-left: 10px;

    transform: translateY(-50%);
}

.b-card__title {
    text-transform: uppercase;

    color: #000000;

    font-family: AndaleMono, sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 21px;
}

.b-card__places {
    margin-top: 5px;

    color: #ff6666;

    font-family: AffectBold, sans-serif;
    font-size: 15px;
}

.b-card__state {
    position: absolute;
    top: 0;
    right: 1px;

    width: 60px;
    height: 100%;
}

.b-card__arrow,
.b-card__check-mark {
    position: absolute;
    top: 50%;
    right: 20px;

    display: none;

    width: 23px;
    height: 20px;

    transform: translateY(-50%);

    text-align: right;
}
.b-card__check-mark {
    height: 25px;
}

.b-card__arrow_hide {
    display: none !important;
}
.b-card__arrow_show,
.b-card__check-mark_show {
    display: inline-block;
}


@media screen and (max-width: $breakpointM) {
    .b-card__arrow {
        display: inline-block;
        right: 10px;
    }

    .b-card {
        display: block;

        width: 100%;
    }
    .b-card:last-child {
        border-bottom: 0;
    }

    .b-card__info {
        max-width: 70%;
    }

    .b-card__arrow_show, .b-card__check-mark_show {
        display: inline-block;
        right: 5px;
    }
}

@media screen and (min-width: $breakpointM) {
    .b-card:nth-child(odd):nth-last-child(2) {
        border-bottom: none;
    }
}
