@import '../../i-media/i-media.scss';

.b-userfund-cart {
    position: absolute;
    height: 100px;
    width: 100%;
    left: 0px;
    background-color: #f2f5a1;
    bottom: -100px;
    color: #000;
    transition: all 0.15s ease-out;
}

.b-userfund-cart__cart {
    width: 285px;
    height: 100px;
    margin: 0 auto;
}

.b-userfund-cart__title {
}

.b-userfund-cart__fund-info-wrapper {
    height: 100%;
    float: left;
}

.b-userfund-cart__fund-info {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    width: 135px;
    font-size: 15px;
    line-height: 1.47;
    height: 100px;
}

.b-userfund-cart__button-wrapper {
    float: right;
    height: 100%;
}

.b-userfund-cart__fund-button {
    display: table-cell;
    vertical-align: middle;
    height: 100px;
}

.b-userfund-cart_visible {
    animation: show-and-hide 3s;
}

@include media-m {
    .b-userfund-cart {
        width: 780px;
        left: -5px;
        right: 0;
        top: -178px;
        margin: 0 auto;
        border-radius: 7px;
    }

    .b-userfund-cart_visible {
        animation: show-and-hide-m 3s;
    }

}

@keyframes show-and-hide-m {
    15% {
        top: -78px;
    }

    85% {
        top: -78px;
    }
}

@keyframes show-and-hide {
    15% {
        bottom: 0;
    }

    85% {
        bottom: 0;
    }
}