@import '../../l-sber-vmeste/i-media/i-media.scss';

.g-tab__tab {
    font-family: SFUIDisplay;
    font-size: 13px;
    user-select: none;
    width: 152px;
    height: 32px;

    letter-spacing: 1.1px;

    color: #fff;
    border: solid 1px #fff;
    border-right: 0;
    &:after {
        display: inline-block;

        height: 110%;

        content: '';
        vertical-align: middle;
    }
    &:first-child {
        border-radius: 19px 0 0 19px;
    }
    &:last-child {
        border: solid 1px #fff;
        border-radius: 0 19px 19px 0;
    }
}

.g-tab__tab_selected {
    color: #000;
    background-color: #fff;
}

.g-tab__content {
    margin: 40px auto 0 auto;

    border: 0;
    border-radius: 7px 7px 0 0;
    background-color: #fff;
}

@include media-s {
    .g-tab__content {
        width: 100%;
    }
}

@include media-m {
    .g-tab__content {
        width: 97.5%;
    }
}

@include media-l {
    .g-tab__content {
        width: 73%;
    }
}
