@import '../../l-sber-vmeste/i-media/i-media.scss';

.g-tab_sber {
    overflow-x: hidden;
}

.g-tab__tabs {
    display: inline-block;
}

.g-tab__tab {
    position: relative;
    font-family: SFUIDisplay;

    width: 20%;
    height: 32px;

    letter-spacing: 1.1px;
    font-size: 13px;
    color: #fff;
    border: solid 1px #fff;
    border-right: 0;
    display: table-cell;
    vertical-align: middle;
    &:first-child {
        border-radius: 19px 0 0 19px;
    }
    &:last-child {
        border: solid 1px #fff;
        border-radius: 0 19px 19px 0;
    }
}

.g-tab__content-tab-top {
    margin-top: 28px;
    height: 27px;
    border-radius: 7px 7px 0 0;
    background: #fff;
}

.g-tab__icon {
    position: absolute;
    top: 4px;
}

.g-tab__icon_align_left {
    left: 3px;
}

.g-tab__icon_align_right {
    right: 3px;
}

.g-tab__tab_selected {
    color: #000;
    background-color: #fff;
}

.g-tab__content {
    width: 105%;
    height: 50px;
    overflow: auto;
    padding: 0px 27px 0 27px;
    border: 0;
    background-color: #fff;
}

.g-tab__content_transparent {
    background: none;
    color: white;
    padding: 0;
}

@include media-s {
    .g-tab__tab {
        width: 152px;
    }
}

@include media-m {
    .g-tab__content {
        padding: 0px 51px 0 31px;
    }

    .g-tab__content-tab-top {
        height: 50px;
    }

    .g-tab__content_transparent {
        padding: 0;
        width: 100%;
    }
}

@include media-l {
    .g-tab__content_transparent {
        padding: 0;
        width: 100%;
    }
}

@include media-xl {
    .g-tab__content_transparent {
        padding: 0;
        width: 100%;
    }
}
